.App {
  display: flex;
  justify-content: space-evenly;
}

.bun {
  background-color: burlywood;
  border-radius: 10px;
}

.cheese {
  background-color: goldenrod;
  border-radius: 10px;
  height: 1rem;
}

.tomato {
  background-color: tomato;
  border-radius: 10px;
  height: 1rem;
}

.lettuce {
  background-color: rgb(94, 230, 26);
  border-radius: 10px;
  height: 1rem;
}