.App {
  display: flex;
  justify-content: space-evenly;
}

.bun {
  background-color: burlywood;
  border-radius: 10px;
}

.cheese {
  background-color: goldenrod;
  border-radius: 10px;
  height: 1rem;
}